:root{
  --primary-color: rgb(246, 147, 170);
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,html{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
    color: rgb(0, 0, 0);
}

body{
  background-image: url(assets/bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* Navbar */

.RLogo{
  width: 1.5cm;
  height: 1.5cm;
  padding-top: 5px;
  padding-left: 15px;
  margin: 5px;
  object-fit: cover;
}

.nav{
  z-index: 1;
  position: sticky;
  top: 0;
  list-style-type: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: .5s;
}

.nav.sticky{
  background: #ffffff;
}

li {
  float: inline-end;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 25px 5px;
  margin-right: 35px;
  text-decoration: none;
}

li a:hover {
  color: rgb(255, 143, 169);
  text-decoration: underline;
  text-underline-position: under;
}

/* Beranda */

.rev{
    float: left;
    display: block;
    margin-top: -100px;
    margin-left: 80px;
    width: 380px;
    height: 470px;
    animation: zoomin 1s ease forwards, floatimage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
}

@keyframes zoomin {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes floatimage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

.nama{
    text-align: left;
    margin-top: 100px;
    margin-left: 500px;
    font-size: 30px;
}

.nama h1{
  padding-top: 10px;
  font-size: 55px;
  background: -webkit-linear-gradient(var(--primary-color), rgb(255, 202, 202), rgb(223, 136, 151));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.overview{
    margin-left: 500px;
    margin-right: 100px;
    margin-top: 3px;
    margin-bottom: 350px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 4px rgb(221, 221, 221);
}

.btn-cv{
  margin-top: 20px;
  height: 36px;
  width: 152px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(340deg, var(--primary-color), rgb(255, 223, 223));
}

.btn-cv:hover{
  box-shadow: 2px 3.5px 3px rgb(111, 111, 111);
  background: linear-gradient(340deg, rgb(255, 223, 223), var(--primary-color));
}

.icon a i{
  padding-top: 20px;
  padding-right: 30px;
  font-size: 35px;
  list-style-type: none;
}

.icon a i:hover{
  color: var(--primary-color);
  text-shadow: #b1b1b1 0px 3px 4px;
}

.wave{
  position: absolute;
  bottom: 0;
  margin-bottom: -225px;
  width: 100%;
}

/* Tentang Saya */

.tentang{
  background-color: white;
  padding-block: 50px;
  font-size: 20px;
}

.tentang .container h1{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  text-shadow: 0px 3px 4px rgb(199, 199, 199);
}

.tentang .container p{
  margin-top: 60px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-align: justify;
  margin-right: 150px;
  font-size: 18px;
  text-shadow: 0px 1px 4px rgb(173, 173, 173);
}

.tentang-box .box:nth-child(1){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}

.tentang-box .box:nth-child(1) video{
  padding-left: 150px;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
}

/* Pendidikan */
.pendidikan h1{
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  text-shadow: 0px 3px 4px rgb(199, 199, 199);
}

.pendidikan_grid {
  margin-inline: auto;
  margin-top: 4rem;
  margin-left: 12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.pendidikan_grid > div {
  display: grid;
  gap: 1rem;
}

.pendidikan__grid__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color);
}

.pendidikan_card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.pendidikan_card > span {
  position: relative;
  isolation: isolate;
  padding-inline: 2px;
  height: 100%;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.pendidikan_card > span::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}

.pendidikan_card h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.pendidikan_card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: grey;
}

.pendidikan_card p {
  color: grey;
}

/* Keahlian */

.keahlian{
  background-color: rgb(255, 255, 255);
  padding-block: 50px;
  font-size: 20px;
}

.keahlian h1{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  text-shadow: 0px 3px 4px rgb(199, 199, 199);
}

.skills-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.skills-card {
  width: 264px;
  height: 222px;
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  padding: 15px;
  background: linear-gradient(270deg, var(--primary-color), var(--primary-color), rgb(255, 255, 255), rgb(255, 255, 255));
  background-size: 400% 400%;
  background-position: 0% 50%;
  transition: background-position 1s ease;
}

/* Saat hover: animasi "usap" ke kanan */
.skills-card:hover {
  animation: usap 3s ease forwards;
}

/* Saat hover selesai: balik ke posisi awal (usap ke kiri) */
.skills-card:not(:hover) {
  animation: balik 3s ease forwards;
}

/* Keyframes usap kanan */
@keyframes usap {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Keyframes balik kiri */
@keyframes balik {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.skills-card h4{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.skills-card p{
  color:  #ffffff;
}

.skills-progress{
 position: relative;
 isolation: isolate;
 height: 10px;
 background-color: rgb(23, 23, 23);
 border-radius: 1rem;
 overflow: hidden;
}

.skills-progress::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  background-color: orangered;
  animation: progress-fill 2s forwards;
}

@keyframes progress-fill{
  0%{
    width: 0;
  }
  100%{
    width: var(--progress);
  }
}

.skills-progress2{
 position: relative;
 isolation: isolate;
 height: 10px;
 background-color: rgb(23, 23, 23);
 border-radius: 1rem;
 overflow: hidden;
}

.skills-progress2::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(71, 148, 212);
  animation: progress-fill 2s forwards;
}

@keyframes progress-fill{
  0%{
    width: 0;
  }
  100%{
    width: var(--progress);
  }
}

.skills-progress3{
 position: relative;
 isolation: isolate;
 height: 10px;
 background-color: rgb(23, 23, 23);
 border-radius: 1rem;
 overflow: hidden;
}

.skills-progress3::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(18, 122, 206);
  animation: progress-fill 2s forwards;
}

@keyframes progress-fill{
  0%{
    width: 0;
  }
  100%{
    width: var(--progress);
  }
}

.skills-progress4{
 position: relative;
 isolation: isolate;
 height: 10px;
 background-color: rgb(23, 23, 23);
 border-radius: 1rem;
 overflow: hidden;
}

.skills-progress4::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(231, 174, 40);
  animation: progress-fill 2s forwards;
}

@keyframes progress-fill{
  0%{
    width: 0;
  }
  100%{
    width: var(--progress);
  }
}

/* Proyek */

.proyek{
  padding-block: 50px;
}

.proyek h1{
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  text-shadow: 0px 3px 4px rgba(33, 33, 33, 0.438);
}

.proyek p{
  text-align: center;
  margin-top: 10px;
}

.proyek-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 800px;
  gap: 50px;
  padding: 45px;
  margin-top: 50px;
  margin-left: 200px;
}

.proyek-box .box{
 padding: 20px;
 background-color: #f1f1f1;
 box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.605);
 border-radius: 10px;
}

.proyek-box .box img{
  width: 355px;
  height: 200px;
  border-radius: 10px;
}

.proyek-box .box:hover img{
top: -60%;
}

.proyek-box .proyek-desc{
  margin-top: 20px;
}

.proyek-box .proyek-desc p{
  line-height: 2;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #0000003e;
}

.proyek-box .proyek-desc .proyek-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.proyek-box .proyek-desc .proyek-btn a{
  background-color: var(--primary-color);
  padding: 10px 20px;
  color: #f1f1f1;
  text-decoration: none;
  border-radius: 5px;
}

.proyek-box .proyek-desc .proyek-btn a:hover{
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
  background: linear-gradient(340deg, var(--primary-color), rgb(255, 223, 223));
}

/* Sertifikat */

.sertifikat .container h1{
  text-align: center;
  padding-top: 100px;
  font-size: 40px;
  text-shadow: 0px 3px 4px rgba(33, 33, 33, 0.438);
}

.sertifikat-box{
  display: grid;
  grid-template-columns: repeat(3, 32fr);
  margin-left: 60px;
  padding: 30px;
}

.sertifikat-box img{
  width: 300px;
  height: 200px;
  border-radius: 2px;
  margin-bottom: 60px;
  object-fit: cover;
  border: var(--primary-color) double 3px;
  box-shadow: #000000 2px 2px 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.sertifikat-box img:hover{
 transform: scale(1.3);
 z-index: 2;
 box-shadow: #ffaeaea2 1px 1px 10px 5px;

}

/* tata letak foto sertifikat */
.posimg{
  grid-column: span 3;
  display: flex;
  justify-content: center;
  gap: 100px;}

/* Kontak Saya */

.kontaksaya{
  margin-top: 50px;
}

.form{
  display: flex;
  justify-content: center;   
  gap: 1px;                 
  padding: 20px 70px;
  margin-bottom: 30px;
  font-size: 20px;
}

.input{
  height: 30px;
  width: 400px;
  margin-top: 10px;
}

.submit{
  margin-top: 20px;
  height: 36px;
  width: 152px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(340deg, var(--primary-color), rgb(255, 223, 223));
}

.submit:hover{
 box-shadow: 2px 3.5px 3px rgb(111, 111, 111);
  background: linear-gradient(340deg, rgb(255, 223, 223), var(--primary-color));
}

.info{
  margin-top: 10px;
  margin-left: 50px;
  padding: 18px;
  font-size: 16px;
}

.footer{
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 3px 4px rgb(150, 150, 150);
    padding: 15px;
}
